.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.link-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px
}

.link-item img {
    width: 25px;
    color: #0073b1
}

h1 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}