* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
body{
    background-color: rgb(32, 32, 32);
}

.debug{
    border: solid 1px red;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    
}

.fill { 
    min-height: 90%;
    height: 100%;
}

a{
    color: white;
}